body {
    padding-top: 60px;
}

/* fix for angular ui bootstrap */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

input.ng-invalid {
    border-color: red;
    border-width: 2px;
}


html, body { margin:0; padding:0; overflow:hidden }


.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: middle;
    overflow: hidden;
}

.svg-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}